/* PARALLAX */
.body {
  margin: -5px;
}

#test {
  height:100vh;
}

.keyart, .keyart_layer {
  height: 1000px;
}

#parallax {
  display: block;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 800px;
  position: absolute;
}

.keyart_layer.parallax {
  position: fixed;
}

#keyart-0 {
  background-image: url("froggie-cattails-background2.svg");
  /* background-color: #ffaf1b; */
  /* top:10px; */
}

#keyart-1 {
  background-image: url("froggie-cattails-midground2.svg");
}

#keyart-2 {
  background-image: url("froggie-cattails-foreground2.svg");
}


#keyart-scrim {
  background-color: #ffaf00;
  opacity: 0;
}

/* @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #keyart-0 {
    background-image: url("froggie-cattails-background.svg");
    background-color: #ffaf1b;
  }

  #keyart-1 {
    background-image: url("froggie-cattails-midground.svg");
  }

  #keyart-2 {
    background-image: url("froggie-cattails-foreground.svg");
  }
} */
