* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(189, 245, 187, .3);
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

.container {
  width: 768px;
  margin: 0 auto;
}

header {
  width:100%
}

header h1 {
  font-weight:400;
  margin: 0px;
  color: #BDF5BB;
  background-color:#3d9a39;
  padding: 40px;
  margin-bottom:10%;
  text-align: center;
}

nav {
  width: 100%;
  background-color:#bdf5bb;
  text-align:center;
}

section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* *************** Button Section ********************** */

button {
  background-color:rgba(17,17,17,0);
  border: 0px;
  padding:10px;
  font-family: 'Space Mono', monospace;
  color:#3d9a39;
}

#grfrog:hover {
  background-color:#3d9a39;
  color:#ffffff;
}

#rfrog:hover {
  background-color:#EA3F3F;
  color:#ffffff;
}

#gofrog:hover {
  background-color:#F5BD3F;
  color:#ffffff;
}

#allfrog:hover {
  background-color:#CFF5FC;
  color:#2792A5;
}

#pfrog:hover {
  background-color:#9A3FF5;
  color:#4A2074;
}

/* *************** Invisibility area ******************* */
img {
  opacity: 1;
  /* in order for the animation to occur when the object becomes visible */
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

img.invisible {
  visibility: hidden;
  opacity: 0;
  /* in order for the animation to occur when the object becomes invisible */
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
