#grid-test {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(400px, auto);
    grid-auto-rows: minmax(400px, auto);
}