* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(189, 245, 187, .3);
}

div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #333;
  z-index: 9999999;
   transition: color 0.5s;
}

.container {
  width: 768px;
  margin: 0 auto;
}

.lineup {
  margin-bottom: -4px;
  display: block;
}

.rel-blue {
  margin-bottom: -10px;
}

#sec1 {
  position:relative;
  z-index: 100;
}

#sec2 {
  position:relative;
  z-index:90;
}

#sec3 {
  position: relative;
  z-index:110;
}

#sec5 {
  display: block;
  height: 1000px;
}

.top-of-the-mountain {
  position:relative;
  z-index:9999;
}

.rel-green,
.white-sec,
.fix-blue {
  background-color: #BDF5BB;
  width: 768px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.white-sec {
  background-color: #fff;
  height:auto;
}


.fix-blue {
  background-color: #CFF5FC;
}

p {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #3D9A39;
}

.white-sec p {
  padding: 115px 134px;
  /* background-color: #fff; */
}

/* The Froggies & Lily Pads */
#pf1 {
  position: absolute;
  top:50%;
  z-index:30
}

#pf2 {
  position:relative;
  z-index:31;
}

#gof1 {
  position:relative;
  top:20%;
  z-index:;
}


#sec5.cattails img {
  position:relative;
}

#back {
  z-index:68;
}

#mid {
  z-index: 69;
  bottom:-39%;
}

#fore {
  z-index: 70;
}
