* {
  box-sizing: border-box;
}

.svg {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}

.svg__image {
  display: inline-block;
  transition: all 0.3s ease;
  width: 400px;
  height: 400px;
  object-fit: none;
  cursor: pointer;
}

.left .svg__image {
  object-position: 0 0;
}

.middle .svg__image {
  object-position: 50% 50%;
}

.right .svg__image {
  object-position: 100% 100%;
}



body {
  padding: 30px;
  font-family: 'Source Code Pro', Monaco;
}

h1 {
  border-bottom: 4px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

a {
  color: #e06363;
}

p {
  text-align: center;
  margin-top: 40px;
}

p.caption {
  font-size:14px;
  text-align:left;
  font-style: italic;
}
