/* This is the styles sheet for my flexbox/index.html page */
body, header, section, footer {
  margin: 0;
  padding: 20px;
  color: #ffffff;
}

header {
  background: #03a9f4;
  height: 10vw;
}

header div {
  width: 25%;
}

#hero {
  background: #d22b1f;
  height: 25vw;
}

.container {
  display: flex;
  height: 40vw;
}

.content {
  background: #129a22;
  width: 80%;
}

.sidebar {
  background: #673ab7;
  width: 20%;
}

.left-column {
  width: 20%;
  background: #3ab86c;
}

.middle-column {
  width:40%;
  background: #2a8850;
}

.right-column {
  width:40%;
  background: #164a2b;
}

footer {
  background: #616161;
  height: 10vw;
}
