.fall-tree,
.spring-tree {
  height: 100vh;
  position: relative;
}

.fall-tree {
  background-color: #ede3bf;
  z-index: 4;
}

.spring-tree {
  background-color: #e0bfed;
  z-index: 3;
}

.fall-tree img,
.spring-tree img {
  position: absolute;
  width: 368px;
}

.positioning-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 368px;
  height: 100vh;
  margin-top: -20vh;
  margin-left: -184px;
}
