body {
  background-color: black;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

section div {
  width: 47.5%;
  height: 50%;
  background-color: blue;
}
