body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100vw;
  background-color: #cccccc;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

nav a {
  font-family: fantasy;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px;
  width: 20%;
  background-color: #000;
  color: #fff;
}

a#gryffindor.active,
a#slytherin.active,
a#ravenclaw.active,
a#hufflepuff.active {
  background-color: #fff;
}

#gryffindor {
  color: #650000;
  background: #e09c08;
}

#gryffindor:hover {
  background-color: #650000;
  color: #e09c08;
}

#slytherin {
  color: #2f751b;
  background: #cbcccb;
}

#slytherin:hover {
  background-color: #2f751b;
  color: #cbcccb;
}

#ravenclaw {
  color: #193957;
  background: #8e501d;
}

#ravenclaw:hover {
  background-color: #193957;
  color: #8e501d;
}

#hufflepuff {
  color: #1f1e18;
  background: #ff9d0b;
}

#hufflepuff:hover {
  background-color: #1f1e18;
  color: #ff9d0b;
}

/* COLORS */
/* #gryffindor {
  color:#650000;
  background: #e09c08;
}

#slytherin {
  color:#2f751b;
  background: #cbcccb;
}

#ravenclaw {
  color:#193957;
  background: #8e501d;
}

#hufflepuff {
  color:#1f1e18;
  background: #ff9d0b;
} */
