/* Visibility of Image */
#happy_froggie {
  opacity: 0;
  position: absolute;
  z-index: 99;
  left: 0px;
  top: 0px;
  /* animation for visibility */
  transition: visibility 0s linear 300ms, opacity 0s;
}

#happy_froggie.visible {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
