#green-froggie {
  position: absolute;
  top: 97%;
  left: 29.9%;
}

#rel-lily-pad {
  position: relative;
  top: 380px;
  left: 86px;
}

#gold-froggie {
  position:fixed;
  top: 2%;
  right: 0%;
  left:unset;
  z-index:30;
}

#red-froggie {
  position: static;
}
