* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(189, 245, 187, .3);
}

.container {
  width: 768px;
  margin: 0 auto;
}

.lineup {
  margin-bottom: -4px;
  display: block;
}

.rel-blue {
  margin-bottom: -10px;
}

#pro-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pro-one p {
  width: 33.333%;
}

.rel-green,
.white-sec,
.fix-blue {
  background-color: #BDF5BB;
  width: 768px;
  height: 341.33px;
}

.white-sec {
  background-color: #fff;
}

.fix-blue {
  background-color: #CFF5FC;
}

.pos-rel {
  position: relative;
}

#fix-rec {
  position: absolute;
  top: 0;
  right: 1.5%;
  z-index: 2;
}

p {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #3D9A39;
}

.white-paragraph p {
  padding: 115px 134px;
  background-color: #fff;
}

.red {
  color: #EA3F3F;
}

.gold {
  color: #F5BD3F;
}

.froggie {
  font-style: italic;
}

.dis-blo {
  display: block;
}

/* The Froggies & Lily Pads */

#green-froggie {

}

#rel-lily-pad {

}

#gold-froggie {
  position: absolute;
  top: 30.5%;
  left: 17%;
}


#red-froggie {
  position: absolute;
  top: 2739px;
  right: 0;
  z-index: 30;
  display: block;
  margin-bottom: 6px;
}
