* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #2E4F9C;
}

header {
  background-color: #E9EDF5;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 5em;
}

header img {
  height: 9.735em;
  margin: 1.56em 0em 1.875em;
}

header h1 {
  font-size: 1.5em;
  font-weight: 700;
}

header h2 {
  font-size: 1.25em;
  font-weight: 400;
}

header a {
  display: block;
  text-decoration: none;
  color: #2E4F9C;
}

header a :nth-child(1) {
  margin-top: 15px;
}

.flex h3 {
  font-size: 1em;
  font-weight: 700;
}

.flex h4 {
  font-size: 1em;
  font-weight: 400;
}

.flex h5 {
  font-size: 1em;
  font-weight: 400;
  color: #2E4F9C50;
}

.flex {
  margin-bottom: 2.5em;
}

hr {
  color: orange;
}

#left-column h1,
#career-summary h1,
#right-column h1 {
  margin-top: 2em;
  margin-bottom: 0.75em;
  padding-bottom: .5em;
  border-bottom: .0625em solid orange;
}

.container {
  padding: 1.5em;
}

/* Fonts */
.serif {
  font-family: 'Lora', serif;
}

.sans-serif {
  font-family: 'Open Sans', sans-serif;
}

.job-container.row2 {
  margin-top:2em;
}

@media only screen and (min-width:960px) {
  header {
    display: flex;
    padding: 0;
    margin-bottom: 2.5em;
  }

  header img {
    height: 11.25em;
    margin: 0;
    padding: 0;
  }

  .name-contact {
    text-align: left;
    margin-left: 1.25em;
  }

  #career-summary h1 {
    margin-top: 0;
  }

  .flex {
    display: flex;
  }

  .time-frame h5 {
    margin-left: 13.125em;
  }

  .container {
    width: 70vw;
    margin: 0 auto;
    padding:0;
  }

  #columns-container {
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
  }

  .flex #left-column {
    width: 58.7239%;
  }

  .flex #right-column {
    width: 26.4322%;
  }
}
