/* This is the stylesheet for Exercise 9 */
* {
    margin: 0;
    padding: 0;
}

header {
  background-color: #cccccc;
  color:#000000;
  text-align:center;
}

footer {
  background-color:#000000;
  color:#ffffff;
  text-align: center;
}




/********** Media Queries *************/

/* Tablet Styles */
@media screen and (min-width:775px) {


}


/* Desktop Styles */
@media screen and (min-width:1055px) {

}
