/* This is a CSS file for Sticky Objects on Scroll */
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

section {
  height: 1000px;
  /* width: 1000px; */
  background-color: #a295dd;
  position: relative;
}

.object {
  height: 2em;
  width: 2em;
  background-color: #42039d;
  position: absolute;
  /* top: 20px;
  left: 20px; */
}

#spring {
  background-color: #b1da6d;
}

#spring-character {
  background-color: #60773c;
  color:#b1da6d;
  padding:20px;
  right: 200px;
}

#spring-character.is_stuck {
  right: 400px;
}

#spring-character.is_stuck[style="position: absolute; top: auto; width: 177px; bottom: 0px;"] {
 right: 200px;
}

#summer {
  background-color: #6ddad7;
}

#summer-character {
  background-color: #208886;
  border-radius: 25px;
  position: relative;
  right: 10%;
}

.is_stuck#summer-character {
  right: 20%;
}


#spring-character,
#summer-character,
#fall-character,
#winter-character {
  position: absolute;
}
/*
#summer-character {
  background-color: #208886;
  border-radius: 25px;
  position: relative;
  right: -88.65%;
}

.is_stuck#summer-character {
  right: 20%;
}

#spring-character,
#summer-character,
#fall-character,
#winter-character {
  position: relative;
} */
